.m-auto {
  margin: auto
}

.flex {
  display: flex
}

.w-11\/12 {
  width: 91.666667%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-xl {
  border-radius: 0.75rem
}

.border-2 {
  border-width: 2px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-5 {
  padding: 1.25rem
}

.text-center {
  text-align: center
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.font-extrabold {
  font-weight: 800
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
